@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html,
body,
#grid-container-home {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw
}

body {
    background-color: #f2f0ef;
}

#grid-container-home {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: 200px 120px 1fr auto;
    grid-template-areas: "header header header" "borderleft nav borderright" "borderleft main borderright" "borderleft foot borderright";
}

div#leftborders {
    grid-area: borderleft;
}

div#rightborders {
    grid-area: borderright;
}

header {
    grid-area: header;
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/633/584/original/hand-drawn-vine-plant-in-light-green-on-a-dark-background-seamless-pattern-of-leaves-in-layers-with-shadows-in-a-floral-nature-design-free-vector.jpg');
    background-size: cover;
    border-bottom-left-radius: 50% 25px;
    border-bottom-right-radius: 50% 25px;
    text-align: center;
}

#company-name {
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    color: #f2f0ef;
    text-shadow: 5px 5px 7px black;
    margin: 25px 0 0 0;
    letter-spacing: 8px;
}

#slogan {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #f2f0ef;
    text-shadow: 3px 3px 4px black;
    display: inline-block;
    margin: 10px;
}

nav {
    margin: 20px 0;
    grid-area: nav;
    background-color: #6E8C56;
    border-radius: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav li {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 25px 40px;
}

nav a {
    text-decoration: none;
    color: #f2f0ef;
    font-size: 30px;
    text-transform: uppercase;
}

nav a.active,
nav a.active:hover {
    border-bottom: 2px solid #f2f0ef;
    border-top: 2px solid #f2f0ef;
}

nav a:hover {
    background-position: -100% 0;
    color: #6E8C56;
    background-image: linear-gradient(to right, #6E8C56, #6E8C56, #f2f0ef, #f2f0ef);
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
}

main {
    padding: 0;
    grid-area: main;
    border: 2px solid #6E8C56;
    border-radius: 20px;
    margin-bottom: 20px;
}

article.hoofdpagina {
    display: grid;
}

article#portret.hoofdpagina {
    padding-top: 30px;
}

article#portret p,
article#dankwoord p {
    margin: 15px 0;
}

article.hoofdpagina p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 0 40px;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}

#toelichting p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 0 40px;
    text-align: justify;
    line-height: 1.5;
}

article#portret img {
    margin: 16px 40px 20px 40px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
}

article.hoofdpagina img {
    margin: 0px 40px 20px 40px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
}

article.hoofdpagina img#links {
    float: left;
}

article.hoofdpagina img#rechts {
    float: right;
}

article.hoofdpagina h1 {
    margin: 40px 20px 20px 40px;
    text-decoration: underline;
    font-size: 1.5em;
}

a#contact {
    text-decoration: none;
    color: #000;
}

hr {
    margin: 40px;
    border: 2px solid #ddd;
}

table {
    width: calc(100% - 80px);
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th {
    background-color: #6E8C56;
    color: white;
    font-weight: bold;
    border-right: 1px solid #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:first-child th {
    border-bottom: 2px solid #fff;
}

td:first-child {
    font-weight: bold;
}

div.chatbox img {
    margin-right: 20px;
    position: fixed;
    top: 7%;
    right: 0;
    transform: translateY(-50%);
    width: 75px;
    height: auto;
    box-shadow: 0 0 10px rgba(67, 83, 52, 0.5);
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

div.chatbox img:hover {
    box-shadow: 0 0 40px rgba(67, 83, 52, 1);

}

#knop {
    border: none;
    width: 32px;
    height: 32px;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

#knop:hover {
    border: 1px solid #888;
    background-color: #ddd;
}

footer {
    margin: 0;
    grid-area: foot;
    padding-left: 25px;
    background-color: #6E8C56;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: end;
}

footer#footgrid {
    display: grid;
    height: auto;
    grid-template-columns: auto 175px;
    grid-template-areas: "text logo";
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f0ef;
}

footer img {
    grid-area: logo;
    width: 150px;
    align-self: center;
    justify-self: end;
    margin-right: 20px;
}

p#copyright {
    grid-area: text;
    margin: 30px 0;
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;

}

p#disclaimer {
    grid-area: text;
    font-style: italic;
    align-self: flex-end;
}

#webshop {
    background-color: #D7DFD0;
}

.item {
    border: 2px solid black;
    background-color: #a3b57f;
    border-radius: 10px;
    margin: 0px 15px 20px 15px;
    position: relative;
}

.item img {
    height: 200px;
    padding: 15px 15px 15px 15px;
    border-radius: 10%;
}

.item h1 {
    font-size: 1.3em;
    font-style: bold;
    margin: 0 15px 5px 15px;
    font-family: 'Playfair Display', serif;

}

.item h2 {
    font-size: 1em;
    font-style: italic;
    color: #333333;
    margin: 0 15px 5px 15px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.zorg {
    display: flex;
    justify-content: space-between;
}

.zorg p {
    margin: 10px 15px;
}

.price {
    position: absolute;
    display: inline-block;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    top: 30px;
    right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.sun {
    display: inline-block;
    margin-left: 15px;
    color: yellow;
    text-align: left;
    text-shadow: #000 1px 1px 1px;
}

section#toelichting p span.sun {
    margin: 0;
}

.water {
    display: inline-block;
    margin-right: 15px;
    text-align: right;
    text-shadow: #000 1px 1px 1px;
}

section#toelichting p span.water {
    margin: 0;
}

.item hr {
    margin: 0 15px;
}

#goederen {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
    margin-right: 40px;
}

main#bestelpagina {
    border: none;
    padding: 0;
}

#bestelformulier {
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/633/584/original/hand-drawn-vine-plant-in-light-green-on-a-dark-background-seamless-pattern-of-leaves-in-layers-with-shadows-in-a-floral-nature-design-free-vector.jpg');
    background-size: cover;
}

form {
    background-color: #6E8C56;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
}

fieldset {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #f2f0ef;
    background-color: #a3b57f;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 4px;
}

legend {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 5px 20px;
    font-weight: bold;
    background-color: #475B2A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select,
input[type="number"] {
    padding: 5px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    width: calc(50% - 10px);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

#bestelformulier h1 {
    font-size: 1.2em;
    text-decoration: underline;
    padding-bottom: 10px;
}

#geslacht,
#plant,
#boodschap1 {
    display: block;
    width: calc(100% - 50px);
    margin-bottom: 15px;
}

#boodschap2 {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

#personalia,
#adresgegevens,
#bestelgegevens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nummers {
    width: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
}

.plant {
    display: inline-block;
    width: calc(50% - 10px);
}

.aantal {
    display: inline-block;
}

#addPlantButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: #6E8C56;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 0px;
    border: none
}

#removePlantButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-left: 20px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

input[type="reset"] {
    background-color: #f44336;
}

input[type="submit"]:hover {
    background-color: #45a049;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease;
}

input[type="reset"]:hover {
    background-color: #d32215;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease;
}

textarea,
select {
    font-family: Montserrat;
}

p#belangrijk {
    color: #f44336;
    font-style: italic;
}

#grid {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-template-areas: "filters" "planten";
}

section#toelichting {
    padding: 30px 0;
}

#filters {
    padding: 40px;
}

#filterlijst {
    padding: 0 20px 20px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #a3b57f;
    position: sticky;
    top: 50px;
    z-index: 100;
}

aside#filters {
    padding: 0 10px 10px 40px;
    font-family: Montserrat;
    font-size: 0.8em;
    color: #ffffff;
}

aside#filters h1 {
    text-decoration: underline;
}

aside#filters hr {
    margin: 30px 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    table {
        overflow-x: scroll;
        display: block;
    }
}
