@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html,
body,
#grid-container-home {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #f2f0ef;
}

#grid-container-home {
    display: grid;
    grid-template-columns: 1fr 1300px 1fr;
    grid-template-rows: 200px 120px auto 1fr auto;
    grid-template-areas: "header header header" "borderleft nav borderright" "borderleft intro borderright"
        "borderleft reviews borderright" "borderleft info borderright" "foot foot foot";
}

#leftborders {
    grid-area: borderleft;
}

#rightborders {
    grid-area: borderright;
}

header {
    grid-area: header;
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/633/584/original/hand-drawn-vine-plant-in-light-green-on-a-dark-background-seamless-pattern-of-leaves-in-layers-with-shadows-in-a-floral-nature-design-free-vector.jpg');
    background-size: 75%;
    text-align: center;
}

#company-name {
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    color: #f2f0ef;
    text-shadow: 5px 5px 7px black;
    margin: 25px 0 0 0;
    letter-spacing: 8px;
}

#slogan {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #f2f0ef;
    text-shadow: 3px 3px 4px black;
    display: inline-block;
    margin: 10px;
}

.not-active .underline {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f2f0ef;
    bottom: -13px;
    animation: moveaway2 0.5s ease-in-out forwards;
}

.not-active .overline {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f2f0ef;
    top: -13px;
    animation: moveaway1 0.5s ease-in-out forwards;
}

nav .not-active:hover .underline {
    animation: movecloser2 0.5s ease-in-out forwards;
}

nav .not-active:hover .overline {
    animation: movecloser1 0.5s ease-in-out forwards;
}

@keyframes movecloser1 {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes moveaway1 {
    from {
        opacity: 1;
        transform: translateY(10px);
    }

    to {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes movecloser2 {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}

@keyframes moveaway2 {
    from {
        opacity: 1;
        transform: translateY(-10px);
    }

    to {
        opacity: 0;
        transform: translateY(0);
    }
}

nav {
    margin: 20px 0;
    grid-area: nav;
    background-color: #6E8C56;
    border-radius: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav li {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 25px 40px;
}

nav a {
    text-decoration: none;
    color: #f2f0ef;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

nav a.active,
nav a.active:hover {
    border-bottom: 2px solid #f2f0ef;
    border-top: 2px solid #f2f0ef;
}

#portret.hoofdpagina,
div.info,
main#webshop {
    padding: 20px 0;
    border: 2px solid #6E8C56;
    border-radius: 10px;
    margin: 20px 0;
}

main#portret {
    grid-area: intro;
}

main.review {
    grid-area: reviews;
}

.review-section {
    grid-area: reviews;
    margin: 40px 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 400px calc(100% - 400px);
    grid-template-areas: "reviews afbeelding"
}

.review {
    overflow: hidden;
    padding: 20px 0;
}

.move {
    display: flex;
    position: relative;
    top: 0;
    right: 1600px;
    animation: reviewslide 25s infinite ease-out;
}

.move article {
    flex-shrink: 0;
}

.review article {
    width: 320px;
    height: auto;
    border: 2px solid #6E8C56;
    border-radius: 10px;
    text-align: center;
    padding: 0 18px 40px 18px;
    margin: 0 41px 0 0;
}

.review h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0 10px 0;
}

.review p {
    text-align: center;
    color: yellow;
    text-shadow: #000 1px 1px 1px;
    margin: 0;
    padding-bottom: 10px;
}

@keyframes reviewslide {
    0% {
        right: 2000px;
    }

    5% {
        right: 1600px;
    }

    20% {
        right: 1600px;
    }

    25% {
        right: 1200px;
    }

    40% {
        right: 1200px;
    }

    45% {
        right: 800px;
    }

    60% {
        right: 800px;
    }

    65% {
        right: 400px;
    }

    80% {
        right: 400px;
    }

    85% {
        right: 0;
    }

    99.99% {
        right: 0px;
    }

    100% {
        right: 2000px;
    }
}

.foto {
    grid-area: afbeelding;
    margin: 0 0 0 0px;
    background-image: url('https://img.freepik.com/premium-photo/vertical-gardening-apartment-scandinavian-interior-style-panorama-generative-ai_699690-11870.jpg');
    align-self: center;
    height: 191px;
    opacity: 0.8;
    box-shadow: 3px 3px 5px darkgray;
    border-radius: 10px;
}

main.info {
    grid-area: info;
}

article.hoofdpagina {
    display: grid;
}

article#portret.hoofdpagina {
    padding: 20px 0;
}

article.hoofdpagina p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 10px 40px;
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}

#toelichting p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 0 40px;
    text-align: justify;
    line-height: 1.5;
}

article#portret img {
    margin: 16px 40px 20px 40px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
}

article.hoofdpagina img {
    margin: 10px 40px 20px 40px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
}

article.hoofdpagina img#links {
    float: left;
}

article.hoofdpagina img#rechts {
    float: right;
}

article.hoofdpagina h1 {
    margin: 40px 20px 20px 40px;
    text-decoration: underline;
    font-size: 1.5em;
}

article article#dankwoord p {
    padding: 10px 40px;
}

a#contacteren {
    text-decoration: none;
    color: #000;
}

hr {
    margin: 40px;
    border: 2px solid #ddd;
}

table {
    width: calc(100% - 80px);
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th {
    background-color: #6E8C56;
    color: white;
    font-weight: bold;
    border-right: 1px solid #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:first-child th {
    border-bottom: 2px solid #fff;
}

td:first-child {
    font-weight: bold;
}

div.chatbox img {
    margin-right: 20px;
    position: fixed;
    top: 7%;
    right: 0;
    transform: translateY(-50%);
    width: 75px;
    height: auto;
    box-shadow: 0 0 10px rgba(67, 83, 52, 0.5);
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    z-index: 2;
}

div.chatbox img:hover {
    box-shadow: 0 0 40px rgba(67, 83, 52, 1);

}

#knop {
    border: none;
    width: 32px;
    height: 32px;
    background-color: #eee;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

#knop:hover {
    border: 1px solid #888;
    background-color: #ddd;
}

footer {
    margin: 0;
    grid-area: foot;
    background-color: #6E8C56;
    align-self: end;
}

footer#footgrid {
    display: grid;
    grid-template-columns: 1125px 175px;
    height: auto;
    justify-content: center;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f0ef;
    padding-left: 20px;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

footer a img {
    width: 150px;
    align-self: center;
    justify-self: end;
}

p#copyright {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;
}

p#disclaimer {
    font-style: italic;
    align-self: flex-end;
    display: block;
}

#webshop {
    background-color: #D7DFD0;
}

.item {
    border: 2px solid black;
    background-color: #a3b57f;
    border-radius: 10px;
    margin: 0px 15px 20px 15px;
    position: relative;
}

.item img {
    height: 225px;
    padding: 15px 15px 15px 15px;
    border-radius: 10%;
}

.item h1 {
    font-size: 1.3em;
    margin: 0 15px 5px 15px;
    font-family: 'Playfair Display', serif;

}

.item h2 {
    font-size: 1em;
    font-style: italic;
    color: #333333;
    margin: 0 15px 5px 15px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.zorg {
    display: flex;
    justify-content: space-between;
}

.zorg p {
    margin: 10px 15px;
}

.price {
    position: absolute;
    display: inline-block;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    top: 30px;
    right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.sun {
    display: inline-block;
    margin-left: 15px;
    color: yellow;
    text-align: left;
    text-shadow: #000 1px 1px 1px;
}

section#toelichting p span.sun {
    margin: 0;
}

.water {
    display: inline-block;
    margin-right: 15px;
    text-align: right;
    text-shadow: #000 1px 1px 1px;
}

section#toelichting p span.water {
    margin: 0;
}

.item hr {
    margin: 0 15px;
}

#goederen {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

main#bestelpagina {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

#bestelformulier {
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/633/584/original/hand-drawn-vine-plant-in-light-green-on-a-dark-background-seamless-pattern-of-leaves-in-layers-with-shadows-in-a-floral-nature-design-free-vector.jpg');
    background-size: 75%;
}

#bestelpagina form {
    background-color: #6E8C56;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
}

fieldset {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #f2f0ef;
    background-color: #a3b57f;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 4px;
}

legend {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 5px 20px;
    font-weight: bold;
    background-color: #475B2A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

fieldset p {
    line-height: 1.5;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select,
input[type="number"] {
    padding: 5px;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    width: calc(50% - 10px);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

#bestelformulier h1 {
    font-size: 1.2em;
    text-decoration: underline;
    padding-bottom: 10px;
}

#geslacht,
#plant,
#boodschap1 {
    display: block;
    width: calc(100% - 50px);
    margin-bottom: 15px;
}

#boodschap2 {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

#personalia,
#adresgegevens,
#bestelgegevens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nummers {
    width: calc(50% - 10px);
    display: flex;
    justify-content: space-between;
}

.plant {
    display: inline-block;
    width: calc(50% - 10px);
}

.aantal {
    display: inline-block;
}

#addPlantButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: #6E8C56;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 0px;
    border: none
}

#removePlantButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-left: 20px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 20px 0 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

input[type="reset"] {
    background-color: #f44336;
}

input[type="submit"]:hover {
    background-color: #45a049;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease;
}

input[type="reset"]:hover {
    background-color: #d32215;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease;
}

textarea,
select {
    font-family: Montserrat;
}

p#belangrijk {
    color: #f44336;
    font-style: italic;
}

#grid {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-template-areas: "filters" "planten";
}

section#toelichting {
    padding-bottom: 10px;
}

#filters {
    padding: 40px;
}

#filterlijst {
    padding: 0 20px 20px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #a3b57f;
    position: sticky;
    top: 50px;
    z-index: 1;
}

aside#filters {
    padding: 0 10px 10px 40px;
    font-family: Montserrat;
    font-size: 0.8em;
    color: #ffffff;
}

aside#filters h1 {
    text-decoration: underline;
}

aside#filters hr {
    margin: 30px 0;
    width: 100%;
}

#leftside {
    border: 2px solid #6E8C56;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 20px 20px 20px;
}

#contact h1 {
    font-size: 1.5em;
    text-decoration: underline;
    color: #6E8C56;
    margin-bottom: 20px;
    margin-top: 30px;
}

#contact a {
    text-decoration: none;
    color: #000;
}

#contact ol {
    padding-inline-start: 20px;
}

#contact form {
    background-color: none;
}

#contact input[type="email"] {
    padding: 10px 10px 10px 5px;
    width: calc(80% - 150px);
}

#contact input[type="submit"] {
    width: 120px;
    margin-left: 20px;
}

#contact img {
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 0;

}

#contact {
    display: grid;
    grid-template-areas: "l c r";
    grid-template-columns: 1fr 2fr 1fr;
}

#l {
    grid-area: l;
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/633/584/original/hand-drawn-vine-plant-in-light-green-on-a-dark-background-seamless-pattern-of-leaves-in-layers-with-shadows-in-a-floral-nature-design-free-vector.jpg');
    background-size: 250%;
    margin: 0 20px 20px 0;
    border-radius: 10px;
}

#r {
    grid-area: r;
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/633/584/original/hand-drawn-vine-plant-in-light-green-on-a-dark-background-seamless-pattern-of-leaves-in-layers-with-shadows-in-a-floral-nature-design-free-vector.jpg');
    background-size: 250%;
    margin: 0 0 20px 20px;
    border-radius: 10px;
}

#c {
    grid-area: c;
    margin: 0 50px 20px 50px;
}

@media screen and (max-width: 900px) {
    #grid-container-home {
        display: grid;
        grid-template-columns: 3% 94vw 3%;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: "header header header" "borderleft nav borderright" "borderleft main borderright" "foot foot foot";
    }

    #company-name {
        font-size: 8vw;
        letter-spacing: 5px;
    }

    #slogan {
        font-size: 4vw;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        width: 100%;
        padding: 0;
        margin: 10px 0;
        font-size: 1em;
    }

    .review-section {
        grid-area: reviews;
        margin: 40px 0;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        grid-template-areas: "reviews" "afbeelding";
    }

    .item {
        margin: 0px 16px 10px 0px;
        max-width: 120px;
        justify-content: space-evenly;
    }

    .item img {
        height: 100px;
        padding: 10px;
    }

    .item h1 {
        font-size: 0.7em;
        margin: 0px 10px 10px 10px;
    }

    .item h2 {
        font-size: 0.5em;
        margin: 0px 10px 10px 10px;
    }

    .item:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .price {
        top: 15px;
        right: 15px;
        font-size: 0.7em;
    }

    .sun,
    .water {
        font-size: 0.4em;
    }

    .zorg p {
        margin: 10px
    }

    .item hr {
        margin: 0 10px;
    }

    section#grid {
        grid-template-columns: 150px auto;
    }

    aside#filters {
        font-size: 0.5em;
    }

    #grid {
        display: block;
    }

    aside#filters {
        padding: 0 40px 10px 40px;
    }

    #goederen {
        padding: 20px 40px;
    }

    #filterlijst {
        display: grid;
        grid-template-areas: "f1 f2 f3";
        grid-template-columns: 1fr 1fr 1fr;
    }

    #filterlijst h1 {
        margin-left: 4px;
    }

    #filter1 {
        grid-area: f1;
    }

    #filter2 {
        grid-area: f2;
    }

    #filter3 {
        grid-area: f3;
    }

    aside#filters hr {
        display: none;
    }

    div.chatbox img {
        width: 50px;
    }

    .aantal {
        display: block;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    #nummers {
        display: block;
        width: 100%;
    }

    #contact {
        grid-template-columns: 1fr 3fr 1fr;
    }

    #contact h1 {
        font-size: 1.2em;
    }
    
    #c {
        margin: 0 20px 20px 20px;
    }

    #contact input[type="email"],
    #contact input[type="submit"] {
        margin: 10px 0;
    }

    #contact input[type="email"] {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    article#portret img {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1000px) {
    table {
        overflow-x: scroll;
        display: block;
    }
}

@media screen and (max-width: 1400px) {
    #grid-container-home {
        display: grid;
        grid-template-columns: 3% 94vw 3%;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: "header header header" "borderleft nav borderright" "borderleft main borderright" "foot foot foot";
    }

    footer#footgrid {
        display: grid;
        height: auto;
        grid-template-columns: calc(94% - 175px) 175px;
    }
}